{% extends "base.html.twig" %}

{% block title 'Sharesamis' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur SharesAmis</h1>
        <p>petits prêts entre amis !</p>

    </div>
{% endblock %}