{% extends "base.html.twig" %}

{% block title 'Sharesamis' %}

{% block body %}

    <!-- Header -->
    <div class="container-fluid" id="entete">
        <h2 class="slogan"><span class="badge badge-pill badge-perso">Petits prêts entre amis</span></h2>
        <div class="container text-center titre-search ">
            <p class="titre-sharesamis">SHARESAMIS</p>
            <div class="span12 ">
                <form role="form" id="form-buscar">
                    <div class="form-group">
                        <div class="input-group">
                            <input id="1" class="form-control" type="text" name="search" placeholder="Search..."
                                   required/>
                            <span class="input-group-btn">
                            <button class="btn btn-light" type="submit">
                            <i class="fa fa-search"></i>
                            </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <a href="{{ path('app_register') }}" class="view bouton-inscription"> <span
                    class="badge badge-pill inscription">Inscription</span></a>
    </div>
    <!-- /Header -->

    <!-- Intro -->
    <br><br>
    <div class="container d-flex bloc-plateform pl-0 mt-3">
        <div class="col-4 notre-plateform">
            <h2 class="thin text-right"><span class="font-65">Notre</span> <span class="font-55">Plateforme</span></h2>
        </div>
        <div class="col-8 descr-plateforme">
            <p>
                Nous sommes une communauté d'échanges et de prêts d'objet. le principe est de créer un groupe dont les
                membres sont tous
                amis afin de se pprêter des objets en toute confiance
            </p>
        </div>
    </div>
    <!-- /Intro-->

    <!-- Bloc groupe -->

    <div class="container d-flex border mt-5 group-container">
        <div class="col-4 bloc-photo p-3"><img src="{{ asset('build/images/groupes-amis.jpg') }}"></div>
        <div class="bloc-droite">
            <div class="descrption-grp">
                <div class="descrption-grp2 "> sommes un petit groupes sympa
                    ici l'ambiance est conviviale on se connait depuis ….
                    bla bla bla
                </div>
            </div>
            <div class="d-flex objet-accueil">
                <div class="col-6 photo-grpa text-center"><img
                            src="{{ asset('build/images/decolleuse thermique.jpg') }}" alt=""></div>
                <div class="descript-objeta"><h5>Décolleuse thermique</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deserunt eaque fuga illum ipsa,
                        laborum maxime .

                    </p></div>
            </div>
        </div>
    </div>

    <!------------------- Bloc points forts------------->



    <div class="container d-flex text-center mt-5 mb-5 bloc-points">
        <div class="card col-3 text-center border-0 color-card" style="width: 18rem;">
            <div class="card-body pl-0  pr-0 bloc-card">
                <div class=" bloc-icon" style="font-size: 4rem;">
                    <div class="bloc-icon-in">
                        <i class="fa fa-smile wh-i"></i>
                    </div>
                </div>
                <div class="bloc-text">
                    <h3 class="card-title">Ambiance</h3>
                    <div class=" font-perso">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deserunt
                        molestiae perferendis praesentium temporibus! Alias blanditiis deleniti eligendi
                    </div>
                </div>
            </div>
        </div>        <div class="card col-3 text-center border-0 color-card" style="width: 18rem;">
            <div class="card-body pl-0  pr-0 bloc-card">
                <div class=" bloc-icon" style="font-size: 4rem;">
                    <div class="bloc-icon-in">
                        <i class="fa fa-handshake"></i>
                    </div>
                </div>
                <div class="bloc-text">
                    <h3 class="card-title">Sécurité</h3>
                    <div class=" font-perso">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deserunt
                        molestiae perferendis praesentium temporibus! Alias blanditiis deleniti eligendi
                    </div>
                </div>
            </div>
        </div>        <div class="card col-3 text-center border-0 color-card" style="width: 18rem;">
            <div class="card-body pl-0  pr-0 bloc-card">
                <div class=" bloc-icon" style="font-size: 4rem;">
                    <div class="bloc-icon-in">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
                <div class="bloc-text">
                    <h3 class="card-title">Amis </h3>
                    <div class=" font-perso">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deserunt
                        molestiae perferendis praesentium temporibus! Alias blanditiis deleniti eligendi
                    </div>
                </div>
            </div>
        </div>        <div class="card col-3 text-center border-0 color-card" style="width: 18rem;">
            <div class="card-body pl-0  pr-0 bloc-card">
                <div class=" bloc-icon" style="font-size: 4rem;">
                    <div class="bloc-icon-in">
                        <i class="fa fa-euro-sign"></i>
                    </div>
                </div>
                <div class="bloc-text">
                    <h3 class="card-title">Economies</h3>
                    <div class=" font-perso">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deserunt
                        molestiae perferendis praesentium temporibus! Alias blanditiis deleniti eligendi
                    </div>
                </div>
            </div>
        </div>

    </div>





{% endblock %}