{% extends 'activity/base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}


            {% block content %}
                <h3 class="p-3 titre-avtivity">Mes prêts</h3>
                
                <ul>
                    <h4>prêts</h4>
                    {% for article in app.user.articles if article.status.label == "En prêt" %}
                        <li>{{ article.name }}</li>
                    {% endfor %}
                </ul>

                <ul>
                    <h4>Emprunts</h4>
                    {% for borrow in app.user.borrows if borrow.returned == true %}
                        <li>{{ borrow.article.name }}</li>
                    {% endfor %}
                </ul>
                
                <div class="row">

                    <div class=" card m-3 col-lg-3 card-color">
                        <button type="button" class="btn btn-danger">En pret</button>
                        <img class="img-fluid card-img photo-cdr" src="../../assets/images/app-raclatte.jpg"
                             alt="Image">
                        <div class="card-body p-2">
                            <div class="card-title text-center">Titre</div>
                            <div class=" d-flex justify-content-around ligne-btn">
                                <button type="button" class="btn btn-secondary">Emprunteur</button>
                                <button type="button" class="btn btn-success">Groupe</button>
                            </div>
                            <div>
                                <table class="table date-article">
                                    <tbody>
                                    <tr>
                                        <td>Date de prêt</td>
                                        <td>7/05/2019</td>

                                    </tr>
                                    <tr>
                                        <td>Date de retour</td>
                                        <td>07/05/2019</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card m-3 col-lg-3 card-color">
                        <img class="img-fluid card-img photo-cdr" src="../../assets/images/decolleuse thermique.jpg"
                             alt="Image">
                        <div class="card-body p-2">
                            <div class="card-title text-center">Titre</div>
                            <div class=" d-flex justify-content-around ligne-btn">
                                <button type="button" class="btn btn-secondary">Emprunteur</button>
                                <button type="button" class="btn btn-success">Groupe</button>
                            </div>
                            <div>
                                <table class="table date-article">
                                    <tbody>
                                    <tr>
                                        <td>Date de prêt</td>
                                        <td>7/05/2019</td>

                                    </tr>
                                    <tr>
                                        <td>Date de retour</td>
                                        <td>07/05/2019</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card m-3 col-lg-3 card-color">
                        <img class="img-fluid card-img photo-cdr" src="../../assets/images/app-raclatte.jpg"
                             alt="Image">
                        <div class="card-body p-2">
                            <div class="card-title text-center">Titre</div>
                            <div class=" d-flex justify-content-around ligne-btn">
                                <button type="button" class="btn btn-secondary">Emprunteur</button>
                                <button type="button" class="btn btn-success">Groupe</button>
                            </div>
                            <div>
                                <table class="table date-article">
                                    <tbody>
                                    <tr>
                                        <td>Date de prêt</td>
                                        <td>7/05/2019</td>

                                    </tr>
                                    <tr>
                                        <td>Date de retour</td>
                                        <td>07/05/2019</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <h3 class="p-3">Mes Emprunts </h3>
                    <div class="row">

                        <div class=" card m-3 col-lg-3 card-color">
                            <img class="img-fluid card-img photo-cdr" src="../../assets/images/app-raclatte.jpg"
                                 alt="Image">
                            <div class="card-body p-2">
                                <div class="card-title text-center">Titre</div>
                                <div class=" d-flex justify-content-around ligne-btn">
                                    <button type="button" class="btn btn-secondary">Emprunteur</button>
                                    <button type="button" class="btn btn-success">Groupe</button>
                                </div>
                                <div>
                                    <table class="table date-article">
                                        <tbody>
                                        <tr>
                                            <td>Date de prêt</td>
                                            <td>7/05/2019</td>

                                        </tr>
                                        <tr>
                                            <td>Date de retour</td>
                                            <td>07/05/2019</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card m-3 col-lg-3 card-color">
                            <img class="img-thumbnail card-img photo-cdr"
                                 src="../../assets/images/decolleuse thermique.jpg" alt="Image">
                            <div class="card-body p-2">
                                <div class="card-title text-center">Titre</div>
                                <div class=" d-flex justify-content-around ligne-btn">
                                    <button type="button" class="btn btn-secondary">Emprunteur</button>
                                    <button type="button" class="btn btn-success">Groupe</button>
                                </div>
                                <div>
                                    <table class="table date-article">
                                        <tbody>
                                        <tr>
                                            <td>Date de prêt</td>
                                            <td>7/05/2019</td>

                                        </tr>
                                        <tr>
                                            <td>Date de retour</td>
                                            <td>07/05/2019</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card m-3 col-lg-3 card-color">
                            <img class="img-thumbnail card-img photo-cdr" src="../../assets/images/app-raclatte.jpg"
                                 alt="Image">
                            <div class="card-body p-2">
                                <div class="card-title text-center">Titre</div>
                                <div class=" d-flex justify-content-around ligne-btn">
                                    <button type="button" class="btn btn-secondary">Emprunteur</button>
                                    <button type="button" class="btn btn-success">Groupe</button>
                                </div>
                                <div>
                                    <table class="table date-article">
                                        <tbody>
                                        <tr>
                                            <td>Date de prêt</td>
                                            <td>7/05/2019</td>

                                        </tr>
                                        <tr>
                                            <td>Date de retour</td>
                                            <td>07/05/2019</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


    </div>
{% endblock %}
