{% extends "base.html.twig." %}

{% block title 'Les groupes' %}

{% block body %}
    <div class="container mt-4">
        <h1>Les Groupes sur SharesAmis</h1>
        <p>les principaux groupe avec leurs membres!</p>

    </div>
{% endblock %}