@import "~bootstrap/dist/css/bootstrap.min.css";
//....................bare de navigation....................

.foto-login {
  width: 50px;
  height: 50px;

}

h1 {
  color: #F7882F	;
  font-family: 'Roboto Slab', serif;
}

.test {
  color: green;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 100px;
  height:100px;
}
.jumbotron p {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5em;
}
.jumbotron {
background-color: #6B7A8F;
}
.cadre {
  background-color: #DCC7AA;
  height: 100%;
  border-radius: 30px;
}
.p-row {
  height: 400px;
}
.main-cadre{

}
.button-sharesamis {
  border-radius: 10px;
  background-color: #F7882F;
}
.w-form-title {
  width: 252px;
}
.color-menu {
  color: white;
}

//-------------------------Barre de navigation
.custom-nav {
  border-bottom: 2px solid #F7882F;

}



//---------------------page groupe------------------
//Section detail groupe
.bouton-postuler {
  border-radius:60%;
  width:100px;
  height: 50px;
  background-color: #F7882F ;
  text-align: center;
  padding-top: 12px;
  color:#F9F8F8;
  font-size: 18px;
  font-weight: bold;

}
.grp-img {
  border-radius: 3.25em;
  width: 160px;
  height: 100px;

}

.grp-title {
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}

//section détail articles

.photo-cdr {
  border: 5px solid gray;
}

.card-body p {
  font-size: 11px;
}
.ligne-btn button {
  font-size: 9px;
  margin:0 1px ;
}

//.............................Page prêts et emprunts..................................

.date-article {
  font-size: 9px;
  font-weight: bold;
}
.bouton-name {
  width: 100px;
  height: 50px;
  border: 2px solid grey;
  border-radius: 20%;

}
.photo-pret{

  width: 120px;
  height:120px;
  border-radius: 50%;

}

.div-btn {
  width:100px;
}
.rounded-button {
  width:75px;
  height:75px;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;

}
.card-color {
  background-color: #DCC7AA;
}
.titre-avtivity {
  font-size:24px;
  color: #F9F8F8;
}
.alerteur-red {
  background-color: rgba(197, 0, 6, 0.6);
  color: white;
}