{% extends "base.html.twig." %}

{% block title 'Les groupes' %}

{% block body %}
    <div class="container mt-4 main-cadre">
        <h1 class="text-center mb-5">Les Groupes sur SharesAmis</h1>

        <div class="d-md-flex flex-row ">
            <div class=" col-lg-4 ">
                <div class="cadre p-3">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Contact</th>
                        </tr>
                        </thead>
                        <tbody>
                    {% for groupshare in groupshares %}
                        <tr>

                            <td><a href="{{ path('group_share_show', { 'id': groupshare.id }) }}">{{ groupshare.name }}</a></td>
                            <td>{{ groupshare.description}}</td>
                            <td>{{ groupshare.user.firstname}}</td>

                        </tr>
                    {% endfor %}
                        </tbody>

                    </table>

                </div>
            </div>



                <div class="col-8">
                <div>
                    {% block content %}


                    {% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}