{% extends 'base.html.twig' %}

{% block title %}Edit GroupShare{% endblock %}

{% block body %}
    <h1>Edit GroupShare</h1>

    {{ include('group_share/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('group_share_index') }}">back to list</a>

    {{ include('group_share/_delete_form.html.twig') }}
{% endblock %}
