{% extends 'base.html.twig' %}

{% block title %}New GroupShare{% endblock %}

{% block body %}
    <h1>Create new GroupShare</h1>

    {{ include('group_share/_form.html.twig') }}

    <a href="{{ path('group_share_index') }}">back to list</a>
{% endblock %}
