{% extends "group_share/base.html.twig" %}

{% block title 'Les groupes' %}

{% block content %}
    <h3>{{ groupshare.name }}</h3>
    
    <ul>
        <li>{{ groupshare.user.firstname }}</li>
        {% for member in groupshare.members %}
            {% if member.isValid %}
                <li>{{ member.user.lastname }}</li>
            {% endif %}
        {% endfor %}
    </ul>

    <ul>
        {% for article in articles %}
            <li>{{ article.name }}</li>
        {% endfor %}
    </ul>
    
{% endblock %}